.meter {
    
}
.footer {
    color: gray;
}
.footer .price {
    font-weight: bold;
    font-size:small;
    border: solid 1px silver;
    margin: 20px 0px 20px 0px;
    padding: 5px;
}

.footer .price div{
    display: inline-block;
    width: 22%;
    font-weight: normal;
}
