streamlit
boto3
botocore
aws-requests-auth
strands-agents
strands-agents-tools
strands-agents-builder
textblob
requests
pillow  
yfinance 
pandas 
frozendict
opensearch-py
retrying
ipywidgets
iprogress
s3fs
pypdf
tqdm
haystack-ai
events
pydub